@use 'reset';
@use 'vars' as v;

body {
  background-color: v.$background-color-dark;
  color: v.$text-color;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Maven Pro', sans-serif;
}
