@use 'reset';
@use 'vars' as v;

body {
  background-color: v.$background-color-dark;
  color: v.$text-color;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Kufam', sans-serif;
}
